@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
        
    }
}
@media screen and (max-width:1000px) {
    header .container{
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width:700px) {
    .botao{
        margin-top: 5px;
        width: 300px;

    }
    
}

@media screen and (max-width:700px) {
    .botao2{
        margin-top: 5px;
        width: 300px;

    }
    
}

@media screen and (min-width:700px) {
    .description{
        width: 60%;
    }
    
}

@media screen and (max-width:700px) {
    .menu-de-login{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width:700px) {
    .menu-login{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}